<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeychainName</key>
	<string>ExpenseTrackingKeychain</string>
	<key>CreateExpensePath</key>
	<string>http://thawing-oasis-5679.herokuapp.com/api/expenses</string>
	<key>TokenValidationPath</key>
	<string>http://thawing-oasis-5679.herokuapp.com/api/tokens/validate.json</string>
	<key>SignupPath</key>
	<string>http://thawing-oasis-5679.herokuapp.com/users.json</string>
	<key>ExpensesIndexPath</key>
	<string>http://thawing-oasis-5679.herokuapp.com/api/expenses</string>
	<key>LoginPath</key>
	<string>http://thawing-oasis-5679.herokuapp.com/api/sessions</string>
	<key>LogoutPath</key>
	<string>http://thawing-oasis-5679.herokuapp.com/api/sessions/</string>
</dict>
</plist>
